@model ProjectWebApp.Models.PaymentStatus

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>
<div style="height: 70vh; background: url('/images/back.jpg') no-repeat center center; background-size: cover;">

<div>
        <h4 class="text-center">PaymentStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentStatusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>