@model ProjectWebApp.Models.Notification

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit</h1>
<div style="height: 70vh; background: url('/images/back.jpg') no-repeat center center; background-size: cover;">

    <h4 class="text-center">Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotificationId" />
            <div class="form-group">
                <label asp-for="NotificationMessage" class="control-label"></label>
                <input asp-for="NotificationMessage" class="form-control" />
                <span asp-validation-for="NotificationMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationType" class="control-label"></label>
                <input asp-for="NotificationType" class="form-control" />
                <span asp-validation-for="NotificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationDateTime" class="control-label"></label>
                <input asp-for="NotificationDateTime" class="form-control" />
                <span asp-validation-for="NotificationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationStatusId" class="control-label"></label>
                <select asp-for="NotificationStatusId" class="form-control" asp-items="ViewBag.NotificationStatusId"></select>
                <span asp-validation-for="NotificationStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>