@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome</h1>
<div class="card">
    <div class="card-body">
        <span class="d-block text-center" style="font-size: 20px; font-weight: bold;">This Home Services Management System is a comprehensive platform.</span>
        <h2 class ="text-center">@User.Identity.Name</h2>
        <div class="text-center" style="height: 60vh; background: url('/images/bg.png') no-repeat center center; background-size: cover;">


        </div>
    </div>
</div>
