@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>
<div class="card">
    <div class="card-body">
        <span class="d-block text-center" style="font-size: 20px; font-weight: bold;">This is our Final Year Project.</span>
        <div class="text-center" style="height: 60vh; background: url('/images/bg.png') no-repeat center center; background-size: cover;">
        </div>
    </div>
</div>
